<template>
  <div>
    <TheNavigation/>
    <nuxt />
  </div>
</template>

<script>
  import TheNavigation from '@/components/global/TheNavigation'

  export default {
    components: {
      TheNavigation
    }
  }
</script>
