<template>
  <div class="container">
   <h1 class="font-medium text-4xl">Snippets</h1>
    <p>A little more text in here</p>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'snippets by Desancheztorres',
      titleTemplate: null
    }
  }
}
</script>
